@import './base.css';

:root {
  --background: #11111b;
  --body: #181825;
  --text-color: #cdd6f4;
  --detail: #cba6f7;
  --hover: #b4befe;
  --accent: rgb(198, 160, 246);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

body {
  margin: 0;
  background: var(--body);
  color: var(--text-color);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

